<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Maths calculator</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
  </head>
  <body background="img/gray_fbr.png">
    <div class="container" ng-app="mathsBasics">
      <div>
        <h1>Basic Maths</h1>
      </div>
      <div ng-controller="AdditionController">
        <div class="content" ng-show="showExercise">
          <div class="row">
            <div class="col-md-1 col-sm-2 col-xs-4">
              <input class="form-control correct ng-valid-required" ng-required="true" name="numberA" ng-model="numberOne" ng-disabled="true">
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4 textCenter">
              +
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
              <input class="form-control correct ng-valid-required" ng-required="true" name="numberB" ng-model="numberTwo" ng-disabled="true">
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4 textCenter">
              =
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
              <input class="form-control correct ng-valid-required" type="text" pattern="[0-9]*" name="answer" ng-model="answer" ng-keypress="check($event)">
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-1 col-sm-2 col-xs-4 textCenter">
              Total:
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
              <input class="form-control correct ng-valid-required" name="totalExercises" ng-model="totalExercises" ng-disabled="true">
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4 textCenter">
              Correct:
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
              <input class="form-control correct ng-valid-required" name="correctExercises" ng-model="correctExercises" ng-disabled="true">
            </div>
          </div>
          <hr/>
          <div class="row">
            <div ng-repeat="exercise in exercises | limitTo:historySize">
              <div class="row">
                <div class="col-md-1 col-sm-2 col-xs-1">
                  <input class="form-control correct ng-valid-required" name="feedback" ng-model="exercise.numberOne" ng-disabled="true">
                </div>
                <div class="col-md-1 col-sm-2 col-xs-4 textCenter">
                  +
                </div>
                <div class="col-md-1 col-sm-2 col-xs-1">
                  <input class="form-control correct ng-valid-required" ng-required="true" ng-model="exercise.numberTwo" ng-disabled="true">
                </div>
                <div class="col-md-1 col-sm-2 col-xs-4 textCenter">
                  =
                </div>
                <div class="col-md-1 col-sm-2 col-xs-1">
                  <input class="form-control correct ng-valid-required" name="answer" ng-model="exercise.answer" ng-disabled="true">
                </div>
              </div>
              <hr/>
            </div>
          </div>
        </div>
        <div class="content" ng-show="!showExercise">
          <div class="row">
            <div>Incorrect</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-1 col-sm-2 col-xs-4">
              <input class="form-control correct ng-valid-required" ng-required="true" name="numberA" ng-model="numberOne" ng-disabled="true">
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4 textCenter">
              +
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
              <input class="form-control correct ng-valid-required" ng-required="true" name="numberB" ng-model="numberTwo" ng-disabled="true">
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4 textCenter">
              =
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
              <input class="form-control correct ng-valid-required" name="answer" ng-model="answer" ng-disabled="true">
            </div>
          </div>
          <hr/>
          <div class="row">
            <div>Correct Answer</div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-1 col-sm-2 col-xs-4">
              <input class="form-control correct ng-valid-required" ng-required="true" name="numberA" ng-model="numberOne" ng-disabled="true">
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4 textCenter">
              +
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
              <input class="form-control correct ng-valid-required" ng-required="true" name="numberB" ng-model="numberTwo" ng-disabled="true">
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4 textCenter">
              =
            </div>
            <div class="col-md-1 col-sm-2 col-xs-4">
              <input class="form-control correct ng-valid-required" name="answer" ng-model="numberOne + numberTwo" ng-disabled="true">
            </div>
          </div>
          <hr/>
          <div class="row">
            <div class="col-md-1 col-sm-2 col-xs-4">
              <button type="button" class="btn btn-default" ng-click="reset()">
              Next
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>


